<!DOCTYPE html>
<html>
<head>
  <title>FinanceCharts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Finance Graphs", root_url, class: "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <div class="container">
    <div class="hero-unit">
      <p>The cyclically adjusted price to earnings ratio (CAPE) is the S&P 500 index divided by 10-years of inflation-adjusted ("real") annual earnings.  The CAPE gives a more accurate overview of the valuation because it smooths earnings, which tend to be volatile, over the business cycle.</p>
    </div>
  </div>


</body>
</html>
